
extends ../_templates/_mocksite.pug

block main

	section
		h2 chat room "default"
		xiome-chat
		h2 chat room "default" again
		xiome-chat
		h2 chat room "lol"
		xiome-chat(room="lol")

	section
		h2 chat
		xiome-login-panel(show-logout)
			xiome-my-account
