
doctype html

block variables
	- let base = "."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title xiome mocksite

	script(defer type="importmap-shim" src=`${base}/../importmap.json`)
	script(async defer type="module-shim" src=`${base}/../xiome.js`)
	script(async defer src="https://unpkg.com/es-module-shims@0.9.0/dist/es-module-shims.js")

	xiome-config(mock="app")

	//- xiome-config(
	//- 	app="2MbKNXM6CcYgMWnbxJrzJ2569SqqqpKc8M2xcfMwJ6KrxSDT"
	//- 	api="http://localhost:4999"
	//- 	platform="http://localhost:5000/x"
	//- )

	style.
		html, body {
			background: #333;
			color: #999;
		}

h1 mock site
xiome-login-panel(show-logout)
	section
		h2 ecommerce settings
		xiome-ecommerce
	section
		h2 subscription plans
		xiome-subscription-planner
	xiome-my-account
		h2 your account
	section.permissions
		h2 permissions
		xiome-permissions
	xiome-questions
