
doctype html

block variables
	- let base = "."
	- let pageSubtitle

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title xiome mocksite

	script(defer type="importmap-shim" src=`${base}/../importmap.json`)
	script(async defer type="module-shim" src=`${base}/../xiome.js`)
	script(async defer src="https://unpkg.com/es-module-shims@0.9.0/dist/es-module-shims.js")

	<xiome-config api="http://localhost:4999" app=4c9ea5dc7acb9a7ad1c77fa6289048d03fb623cdd1163d4896ff5d0b1ad05322></xiome-config>

	style.
		html, body {
			background: #333;
			color: #999;
		}

h1 mock site
xiome-login-panel(show-logout)
	section.permissions
		h2 permissions
		xiome-permissions
	xiome-my-account
		h3 your account
