
extends ../_templates/_mocksite.pug

block main

	section
		h2 notes
		xiome-notes-indicator
		xiome-notes

	section
		h2 your account
		xiome-login-panel(show-logout)
			xiome-my-account

	style.
		xiome-notes-indicator {
			--xiome-notes-indicator-count-size: 2em;
			--xiome-notes-indicator-color: orange;
			--xiome-notes-indicator-bleedout: 0.5em;
			--xiome-notes-indicator-icon-size: 10em;
			--xiome-notes-indicator-size: 3em;
		}
