
extends ../_templates/_mocksite.pug

block head
	style.
		hr {
			margin: 1em auto;
		}
		xiome-video-display {
			max-width: 32em;
		}
		xiome-video-display::part(iframe) {
			aspect-ratio: 16 / 9;
		}
		xiome-video-companion {
			color: green;
		}

block main

	section
		h2 videos
		xiome-video-hosting
		hr
		xiome-video-views
		hr
		xiome-video-display(initially-hidden mock-embed show-title)
			p video is on
			p(slot="unprivileged") you are not privileged to view this video
			p(slot="unavailable") this video is unavailable
		xiome-video-companion(initially-hidden)
			p video companion
			p(slot="unprivileged") you are not privileged to view this video
			p(slot="unavailable") this video is unavailable
		xiome-video-display(initially-hidden mock-embed show-title label="abc")
			p(slot="unprivileged") you are not privileged to view this video
			p(slot="unavailable") this video is unavailable

	hr
	section
		h2 your account
		xiome-login-panel(show-logout)
			xiome-my-account
