
extends ../_templates/_mocksite.pug

block head
	style.
		::part(iframe) {
			aspect-ratio: 16 / 9;
		}

block main

	section
		h2 videos
		xiome-video-hosting
		br
		hr
		br
		xiome-video-display

	section
		h2 your account
		xiome-login-panel(show-logout)
			xiome-my-account

	//- section
	//- 	h2 manual embed
	//- 	<script id="0ffd60be-91b7-22b0-1353-7dba7af43261-playlist-eb27138d-94d2-ae72-a6fc-8134badf22e9" width="100%" height="100%" src="https://player.dacast.com/js/player.js?contentId=0ffd60be-91b7-22b0-1353-7dba7af43261-playlist-eb27138d-94d2-ae72-a6fc-8134badf22e9"  class="dacast-video"></script>
