
extends ../_templates/_mocksite.pug

block head
	style.
		::part(iframe) {
			aspect-ratio: 16 / 9;
		}
		xiome-video-display {
			max-width: 960px;
		}

block main

	section
		h2 videos
		xiome-video-hosting
		br
		hr
		br
		xiome-video-display(mock-embed)
		xiome-video-display(label="abc" mock-embed)
		//- xiome-video-display
		//- xiome-video-display

	section
		h2 your account
		xiome-login-panel(show-logout)
			xiome-my-account
