
html {
	font-family: "Play", sans-serif;
	color: #fff8;
	min-height: 100%;
	background: #2f3038;
	background: fixed linear-gradient(
		to bottom right,
		#2f3038,
		#21222a
	);
}

a {
	color: #adfa;
	text-decoration: inherit;
	&:hover, &:focus {
		color: #fff;
		text-decoration: underline;
		text-shadow: 0 0 10px #fff4;
	}
}

.siteheader {
	.marked-link {
		border-radius: 4px;
		text-decoration: underline;
		text-decoration-color: #adf2;
	}
	&[data-page-subtitle=home] nav a[href$="/"] { @extend .marked-link }
	&[data-page-subtitle=apps] nav a[href$="/apps"] { @extend .marked-link }
	&[data-page-subtitle=components] nav a[href$="/components"] { @extend .marked-link }
}

menu-system {
	color: #333;
}

.siteheader h1 {
	color: white;
	letter-spacing: 0.2em;
	font-family: "Varela Round", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: 0 0 20px #fff6;
}

main h2 {
	color: #fffa;
	font-weight: normal;
}

.sitefooter {
	opacity: 0.7;
}
