doctype html

block variables
	- let pageSubtitle

head

	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title &#x1F404; feature.farm#{pageSubtitle && " – " + pageSubtitle}

	link(rel="stylesheet" href="/styles.css")

	script(type="module-shim" src="/x/demo.js")
	script(type="importmap-shim" src="/x/importmap.json")
	script(type="importmap-shim").
		{"imports": {"feature.farm/": "/"}}
	script(async="" defer="" src="https://unpkg.com/es-module-shims@0.6.0/x/es-module-shims.js")

header.siteheader
	div
		h1 &#x1F404; feature.farm
		nav
			a(href="/") about
			a(href="/apps") apps
			a(href="/catalog") catalog

main
	block maincontent

footer.sitefooter
	p footer stuff
