
doctype html

block variables
	- let base = "."
	- let pageSubtitle

head
	block head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title xiome.io#{pageSubtitle && " – " + pageSubtitle}
		link(rel="stylesheet" href=`${base}/styles.css`)
		link(rel="icon" type="image/png" href=`${base}/favicon.png`)

		script(defer type="importmap-shim" src=`${base}/importmap.json`)
		script(defer src=`https://unpkg.com/es-module-shims@0.11.1/dist/es-module-shims.js`)

main.popup
	block body
