
* {
	--focus-outline: 2px solid #8ff8;
	&:focus {
		outline: var(--focus-outline)
	}
}

html {
	font-family: "Play", sans-serif;
	color: #fff8;
	min-height: 100%;
	background: #2f3038;
	background: fixed linear-gradient(
		to bottom right,
		#2f3038,
		#21222a
	);
}

a,
*::part(link) {
	color: #adfa;
	text-decoration: inherit;
	&:hover, &:focus {
		color: #fff;
		text-decoration: underline;
		text-shadow: 0 0 10px #fff4;
	}
}

a[data-external],
*::part(link-external) {
	&::before {
		content: "» ";
		display: inline;
	}
	&::after {
		content: " «";
		display: inline;
	}
}

code { background: #0002; }
.codeblock { display: block; }
.htmlcode { color: #fff6; }
.htmlcode [data-syntax=tag] { color: deepskyblue; }
.htmlcode [data-syntax=attr] { color: skyblue; }
.htmlcode [data-syntax=data] { color: #aaffa0; }
.htmlcode [data-syntax=indent] {
	display: block;
	margin-left: 1em;
}

.siteheader {
	.marked-link {
		border-radius: 4px;
		text-decoration: underline;
		text-decoration-color: #adf4;
	}
	&[data-page-subtitle=home] nav a[href$="/"] { @extend .marked-link }
	&[data-page-subtitle=setup] nav a[href$="/setup"] { @extend .marked-link }
	&[data-page-subtitle=components] nav a[href$="/components"] { @extend .marked-link }
}

menu-system {
	color: #333;
}

.siteheader h1 {
	color: white;
	letter-spacing: 0.2em;
	font-family: "Varela Round", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: 0 0 20px #fff6;
}

main {
	--xio-text-input-font: 1em "Varela Round", sans-serif;
	--xio-text-input-label-font: 0.8em "Play", sans-serif;
	--xio-text-input-problems-font: 0.8em "Play", sans-serif;
	--xio-text-input-label-color: #fff6;
	--xio-text-input-background: #00000008;
	--xio-text-input-border: 1px solid #fff1;
}

main h2 {
	color: #fffa;
	font-weight: normal;
	em {
		font-style: normal;
		text-decoration: underline;
	}
}

.sitefooter {
	opacity: 0.8;
	> p > span {
		opacity: 0.8;
	}
}
