
.page-learn {
	ul {
		list-style: none;
		margin-left: 0.5em;
	}
}

.page-setup {
	xiome-app-manager {
		margin-top: 1em;
	}
	.plate {
		margin-top: 1em;
		p + p {
			margin-top: 0.5em;
		}
		.mocksnippet {
			margin-left: 1em;
		}
	}
}

.page-playground {
	xio-playground {
		display: block;
		margin-top: 1em;
	}
	.lowkey {
		opacity: 0.3;
		margin: 0.5em 0;
	}
}
