
.page-learn {
	max-width: 700px;
	ul {
		list-style: none;
		margin-left: 0.5em;
		> li + li {
			margin-top: 0.8em;
		}
	}
	ol {
		margin-top: 0.8em;
	}
}

.page-setup {
	.plate {
		margin-top: 1em;
		max-width: 700px;
		p + p {
			margin-top: 0.5em;
		}
		.mocksnippet {
			margin-left: 1em;
		}
	}
}

.page-playground {
	xio-profile-card {
		margin-top: 1em;
		width: 20em;
		outline: 1px solid #f002;
	}
}

// .catalog {
// 	display: grid;
// 	grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
// 	justify-items: center;
// 	gap: 1rem;
// }

// .catalog > div {
// 	width: 100%;
// 	max-width: 16em;
// 	min-height: 10em;
// 	background: grey;
// }
