
extends _templates/_page.pug

block append variables
	- pageSubtitle = "apps"
	- test = "!!!!!"

block maincontent
	.content.page-apps
		h2 apps

		xiome-login-panel(initially-hidden)
			p(slot="logged-out") login to create and manage xiome apps
			xiome-app-list
				p no apps
