
extends _templates/_page.pug

block append variables
	- pageSubtitle = "apps"

block maincontent
	.content.page-apps

		xiome-login-panel(initially-hidden)
			p(slot="logged-out") login to create and manage xiome apps
			xiome-app-manager
				h2 your xiome apps
				h3(slot="create-app-heading") create a new xiome app
