
extends _templates/_page.pug

block append variables
	- pageName = "components"
	- pageSubtitle = "components"

block append head
	if (debug)
		script(type="module-shim" async defer src=`${base}/demos.js`)
	else
		script(async defer src=`${base}/demos.bundle.min.js`)

block maincontent
	.page
		.explainer
			h2 browse for components you'd like to plug into your website
			p to install a component, copy the green html code into your website's html &lt;body&gt; section
		ol.componentgrid
			li
				.summary
					h3
						span my account
						span  component
					p this component allows users to edit their profile
					code.htmlcode.codeblock=`<xiome-my-account></xiome-my-account>`
				.demo
					demo-xiome-my-account
			li
				.summary
					h3
						span login panel
						span  component
					p the component allows users to login or logout, and you control what's displayed in different states
					code.htmlcode.codeblock=`<xiome-login-panel show-logout>\n\t<p>You are logged in</p>\n\t<p slot=logged-out>You are logged out</p>\n</xiome-login-panel>`
				.demo
					demo-xiome-login-panel(show-logout)
						p You are logged in
						p(slot="logged-out") You are logged out
			li
				.summary
					h3
						span questions
						span  component
					p a community board where users can post questions
					code.htmlcode.codeblock=`<xiome-questions board=default></xiome-questions>`
				.demo
					demo-xiome-questions
			li
				.summary
					h3
						span manage users
						span  component
					p admins can ban naughty users with this handy search widget
					code.htmlcode.codeblock=`<xiome-manage-users></xiome-manage-users>`
				.demo
					demo-xiome-manage-users
			li
				.summary
					h3
						span permissions
						span  component
					p admins can setup advanced roles and privileges
					code.htmlcode.codeblock=`<xiome-permissions></xiome-permissions>`
				.demo
					demo-xiome-permissions
		h2.note
			p more components coming soon
