
extends _templates/_page.pug

block maincontent
	.content.page-learn

		h2 engage your community
		ul
			li easily install forums and more onto any website
			li monetize your audience's support with premium subscriptions

		h2 setup in minutes with html
		ol
			li create your xiome app on the #[a(href=`${base}/apps`) apps page]
			li copy-paste your generated xiome-config onto your page
			li copy-paste features from the #[a(href=`${base}/components`) components page]

		h2 free until you're making money
		ul
			li xiome cloud charges a 9% service fee
			li stripe also takes about 3% to process payments

		h2 xiome is open source 💖
		ul
			li xiome is an extensible rapid fullstack app development framework
			li the "xiome cloud" is the hosted version that charges a service fee
			li we're collaborating all the time, building and improving features for everybody to share
