
extends _page.pug

block maincontent
	.content.page-learn

		h2 engage your community
		p easily install community forums onto any website
		p monetize your audience's support with premium subscriptions

		h2 setup in minutes with html
		ol.instructions
			li create your xiome app
			li copy-paste the features you want

		h2 free until you're making money
		p xiome charges 9% of revenue

		h2 xiome is open source
		p we're collaborating on new features all the time
