
extends _page.pug

block maincontent
	.page-learn
		h2 create your community
		p engage and monetize your audience on your own website
		ol.instructions
			li create your xiome app
			li paste in the features you want
			li test and go
