
extends _templates/_page.pug

block append variables
	- pageSubtitle = "playground"

block head
	script(defer type="module-shim" src=`${base}/playground.js`)

block maincontent
	.page-playground.content
		h2 developer playground
		p this page is for developers to experiment with and work on new components

		xio-playground
