
extends _templates/_page.pug

block append variables
	- pageName = "setup"
	- pageSubtitle = "setup"

block maincontent
	.page

		xiome-login-panel(initially-hidden)
			h2(slot="logged-out") login to setup communities
			xiome-app-manager(initially-hidden)
				h2 your communities
				h2(slot="register-app-heading") create a new community

		//- .plate.content
		//- 	h2 understanding how xiome communities work
		//- 	p a single xiome community can span across multiple websites
		//- 	h2 developer's "mock" mode
		//- 	p this snippet is for developers to test their systems on a fake community
		//- 	code.htmlcode.codeblock.mocksnippet
		//- 		span &lt;#[span(data-syntax="tag") script]
		//- 		span(data-syntax="attr") &nbsp;async
		//- 		span(data-syntax="attr") &nbsp;defer
		//- 		span(data-syntax="attr") &nbsp;src#[span ="]#[span(data-syntax="data") https://unpkg.com/xiome/x/xiome.bundle.min.js]#[span "]
		//- 		span &gt;&lt;/#[span(data-syntax="tag") script]&gt;
		//- 		br
		//- 		span &lt;#[span(data-syntax="tag") xiome-config]
		//- 		span(data-syntax="attr") &nbsp;mock
		//- 		span &gt;&lt;/#[span(data-syntax="tag") xiome-config]&gt;
