
extends _templates/_page.pug

block append variables
	- pageSubtitle = "setup"

block maincontent
	.page-setup.content

		.plate
			h2 setup your community
			ol
				li register your community below, and copy the generated config snippet into your webpage html's #[code.htmlcode &lt;#[span(data-syntax="tag") head]&gt;] section
				li then head over to the #[a(href=`${base}/components`) components area] to install the community features you want

		xiome-login-panel(initially-hidden)
			h2(slot="logged-out") login to setup communities
			xiome-app-manager(initially-hidden)
				h2 your registered communities
				h2(slot="create-app-heading") register a community

		.plate
			h2 understanding how xiome communities work
			p a single xiome community can span across multiple websites
			p while xiome is in beta, connections have a 30 day expiration time. you can create new replacement connections anytime
			h2 developers "mock" mode
			p this snippet is for developers to test their systems on a fake community
			code.htmlcode.mocksnippet
				span &lt;#[span(data-syntax="tag") xiome-config]
				span(data-syntax="attr") &nbsp;mock
				span &gt;&lt;/#[span(data-syntax="tag") xiome-config]&gt;
